<!DOCTYPE html>
<html>
<head>
    <title>{% block title "Mon site"%}</title>
</head>
<body>
    <h1>Header</h1>

    <div>
        {% block body %}{% endblock %}
    </div>

    <h1>Footer</h1>
</body>
</html>